
        <div id="sidebar-wrapper">
            <div class="sidebar-top bg_green">Online Learning</div>
            <ul class="sidebar-nav bg_blue">
                <li class="sidebar-brand">
                        Hi, {{userName}}
                </li>
                <li style="margin-top:30px;">
                    <a href="index.html">Dashboard</a>
                </li>
				<li>
					<a href="myProfile.html">My Profile</a>
				</li>
				<li ng-click="logout()">
                    <a href="#">Logout</a>
                </li>
            </ul>
        </div>
		<!-- menu toggle button -->
		<a href="#menu-toggle" ng-click="close_open_wrapper()" class="menu_toggle_button btn bg_green" id="menu-toggle">
            <span class="glyphicon glyphicon-menu-hamburger txt_blue" aria-hidden="true"></span>
        </a>
		
<script>
$("#menu-toggle").click(function(e) {
e.preventDefault();
$("#wrapper").toggleClass("toggled");
});

</script>
